{{#unless displayJobInline}}
  <h3>{{ this.name }} <small>(#{{ this.id }})</small></h3>
{{/unless}}

{{#eq jobState 'failed'}}
  <h5>Actions</h5>
  <form class="js-retryjob-form">
    <input type="hidden" name="queueName" value="{{ queueName }}" />
    <input type="hidden" name="jobId" value="{{ this.id }}" />
    <button class="btn btn-success">Retry</button>
  </form>
{{/eq}}

{{#eq jobState 'completed'}}
  <h5>Actions</h5>
  <form class="js-deletejob-form">
    <input type="hidden" name="queueName" value="{{ queueName }}" />
    <input type="hidden" name="jobState" value="{{ jobState }}" />
    <input type="hidden" name="jobId" value="{{ this.id }}" />
    <button class="btn btn-danger">Delete</button>
  </form>
{{/eq}}

<div class="row">
  <div class="col-sm-3">
    <h5>State</h5>
    {{capitalize jobState}}
  </div>

  <div class="col-sm-3">
    <h5>Timestamp</h5>
    {{moment this.timestamp "llll"}}
  </div>

  <div class="col-sm-3">
    <h5>Attempts Made</h5>
    {{ this.attemptsMade }}
  </div>

  <div class="col-sm-3">
    <h5>Permalinks</h5>
    <a href="/dashboard/{{ queueName }}/{{ this.id }}" class="btn btn-info btn-sm">Job #{{ this.id }}</a>
    <a href="/dashboard/{{ queueName }}/{{ this.id }}?json=true" class="btn btn-info btn-sm">JSON</a>
  </div>
</div>

<h5>Progress</h5>
<div class="progress">
  <div class="progress-bar
              {{#eq jobState 'failed'}}
              progress-bar-danger
              {{/eq}}"
       role="progressbar"
       aria-valuenow="{{ this.progress }}"
       aria-valuemin="0"
       aria-valuemax="100"
       style="width: {{ this.progress }}%; min-width: 2em;">
    {{ this.progress }}%
  </div>
</div>

{{#if this.returnvalue}}
<pre>{{ this.returnvalue }}</pre>
{{/if}}

{{#if this.failedReason}}
<h5>Reason for failure</h5>
<pre>{{ this.failedReason }}</pre>
{{/if}}

{{#isEmpty this.stacktrace}}
{{else}}
  <h5>Stacktraces</h5>
  {{#each this.stacktrace}}
    <pre>{{ this }}</pre>
  {{/each}}
{{/isEmpty}}

<h5>Data</h5>
<pre>{{ json this.data }}</pre>
