<h2>Queue <code>{{ queueHost }}/{{ queueName }}</code></h2>

{{> dashboard/jobDetails job queueName=queueName baseURL=baseURL queueHost=queueHost jobState=jobState }}

{{#contentFor 'sidebar'}}
  <li><a href="{{ baseURL }}/dashboard">Queues Overview</a></li>
  <li><a href="{{ baseURL }}/dashboard/{{ encodeURI queueHost }}/{{ encodeURI queueName }}">Queue <code>{{ queueHost }}/{{ queueName }}</code></a></li>
  <li><a href="{{ baseURL }}/dashboard/{{ encodeURI queueHost }}/{{ encodeURI queueName }}/{{ jobState }}">{{capitalize jobState}} Jobs</a></li>
  <li class="active"><a href="#">Job {{ job.id }}</a></li>
{{/contentFor}}
