<h2>Queue <code>{{ queueHost }}/{{ queueName }}</code></h2>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="btn btn-default btn-xs pull-right" onClick="toggleJsonEditor()">Add Job</div>
        <h4 class="panel-title">Job Types</h4>
      </div>
      <div class="panel-body">
        <div class="jsoneditorx form-group hide overflow">
          <div class="jsoneditorx hide" id="jsoneditor" style="height:200px;"></div>
          <br />
          <div class="btn btn-primary btn-sm pull-right" onClick="addJob()">Create</div>
        </div>
        <ul class="list-group">
          {{#each jobCounts}}
          <li class="list-group-item">
            <span class="badge">{{ this }}</span>
            <a href="{{ ../basePath }}/{{ encodeURI ../queueHost }}/{{ encodeURI ../queueName }}/{{ @key }}">
              <span class="text-capitalize">{{ @key }}</span>
            </a>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Redis Statistics</h4>
      </div>
      <div class="panel-body">
        <table class="table">
          {{#each stats}}
            <tr>
              <th>{{ @key }}</th>
              <th>{{ this }}</th>
            </tr>
          {{/each}}
        </table>
      </div>
    </div>
  </div>
</div>

{{#contentFor 'sidebar'}}
  <li><a href="{{ basePath }}/">Queues Overview</a></li>
  <li class="active"><a href="#">Queue <code>{{ queueHost }}/{{ queueName }}</code></a></li>
{{/contentFor}}

{{#contentFor 'script'}}
  var jsonEditor = false;
  
  (function(){
    var options = {};
    jsonEditor = new JSONEditor(document.getElementById("jsoneditor"), options);
  })()
  
  var toggleJsonEditor = function(){
    $(".jsoneditorx").toggleClass("hide");
    var data = localStorage.getItem('ArenaSavedJobData') || "{ id: '' }";
    try {
      data = JSON.parse(data);
    } catch (e) {
      data = { id: "" };
    }
    jsonEditor.set(data);
  };
  
  var addJob = function(){
    var data = jsonEditor.get();
    localStorage.setItem('ArenaSavedJobData', JSON.stringify(data));
    $.ajax({
      url: "/api/queue/{{queueHost}}/{{queueName}}/job/new",
      type: "POST",
      data: data,
      success: function(res) {
        alert("Job successfully added!");
      }
    });
  };
{{/contentFor}}
