<h2>Queue {{ name }}</h2>
<ul class="list-group">
  {{#each groups }}
    <li class="list-group-item">
      <a href="{{ ../name }}/{{ this.[0] }}">
        <span class="text-capitalize">{{ this.[0] }}</span>: {{ this.[1] }}
      </a>
    </li>
  {{/each}}
</ul>
