<h2>Queue: {{ name }}</h2>
<h3>List of jobs in {{ state }} state</h3>
<ul class="list-group">
  {{#each jobs}}
    <li class="list-group-item">
      <a role="button" data-toggle="collapse" href="#collapse{{this.id}}">
        Job: {{ this.id }} {{ this.name }}
      </a>
      <div id="collapse{{this.id}}" class="collapse">
        <pre>{{{ json this true }}}</pre>
      </div>
    </li>
  {{/each}}
</ul>
