<h2>Queues</h2>
<h3>Overview</h3>

<div class="no-padding">
  <table id="queueList" class="table">
    <thead>
      <th>Host</th>
      <th>Name</th>
    </thead>
    <tbody>
      {{#each queues}}
      <tr>
        <td>{{ this.hostId }}</td>
        <td><a href="{{ ../basePath }}/{{ encodeURI this.hostId }}/{{ encodeURI this.name }}">{{ this.name }}</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{#contentFor 'sidebar'}}
<li class="active"><a href="#">Queues Overview</a></li>
{{#if hasFlows}}
<li><a href="{{ basePath }}/flows">Flows Overview</a></li>
{{/if}}
{{/contentFor}}

{{#contentFor 'script'}}
new Tablesort(document.getElementById('queueList'));
{{/contentFor}}