<h2>Queue <code>{{ queueHost }}/{{ queueName }}</code></h2>

<h3>404</h3>
<p>Queue <code>{{ queueHost }}/{{ queueName }}</code> not found</p>
<p>
  <a href="{{ basePath }}/" class="btn btn-primary">Go back to Overview</a>
</p>

{{#contentFor 'sidebar'}}
<li><a href="{{ basePath }}/">Queues Overview</a></li>
<li class="active"><a href="#">404</a></li>
{{#if hasFlows}}
<li><a href="{{ basePath }}/flows/">Flows Overview</a></li>
{{/if}}
{{/contentFor}}