<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Arena</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ basePath }}/dashboard.css">
    <link rel="stylesheet" href="{{ vendorPath }}/jsoneditor.min.css">
    <link rel="stylesheet" href="{{ vendorPath }}/tablesort.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ basePath }}/">Arena</a>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <br />
      <div class="container">
        <div class="breadcrumb">
          {{{block "sidebar"}}}
        </div>
        {{{ body }}}
      </div>
    </div>

    <input type="hidden" id="basePath" value="{{ basePath }}">

    <script type="text/javascript" src="//cdn.jsdelivr.net/g/jquery@3.2.1,bootstrap@3.3.7"></script>
    <script type="text/javascript" src="{{ vendorPath }}/jsoneditor.min.js"></script>
    <script type="text/javascript" src="{{ vendorPath }}/tablesort.min.js"></script>
    <script type="text/javascript" src="{{ basePath }}/dashboard.js"></script>
    <script>
      {{{block "script"}}}
    </script>
  </body>
</html>
